{% extends "NAOCoreBundle::layout.html.twig" %}

{% block banner_h2 %}Titre de la page password{% endblock %}
{% block banner_desc %}Description de la page password{% endblock %}

{% block center_column %}
	<div class="well">
		{{ form_start(form) }}
			{{ form_row(form.username) }}
			{{ form_row(form.password) }}
			{{ form_row(form.question) }}
			{{ form_row(form.validate, {'label': 'Redéfinir mot de passe', 'attr': {'class': 'btn btn-info'}}) }}
			{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
